@import "tailwindcss";


.job-details-container{
  max-width:1200px;
  margin:auto;
  padding:30px;
  font-family:Inter, sans-serif;
}

.back-btn{
  background:none;
  border:none;
  color:#4f46e5;
  cursor:pointer;
  display:flex;
  gap:6px;
  align-items:center;
  margin-bottom:20px;
}

.job-header-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#fff;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 20px rgba(0,0,0,.05);
}

.job-header-left{
  display:flex;
  gap:15px;
}

.job-icon{
  background:#eef2ff;
  color:#4f46e5;
  padding:12px;
  border-radius:12px;
  font-size:22px;
}

.job-tags span{
  background:#f1f5f9;
  padding:6px 12px;
  border-radius:20px;
  margin-left:8px;
  font-size:12px;
}

.job-body{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:30px;
  margin-top:30px;
}

.job-main section{
  margin-bottom:25px;
}

.job-main ul{
  padding-left:20px;
}

.skill-tags span{
  background:#eef2ff;
  color:#4f46e5;
  padding:6px 12px;
  border-radius:14px;
  margin:5px;
  display:inline-block;
  font-size:12px;
}

.apply-card{
  background:#fff;
  padding:20px;
  border-radius:14px;
  box-shadow:0 4px 20px rgba(0,0,0,.05);
  height:fit-content;
}

.apply-btn{
  width:100%;
  margin-top:15px;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#4f46e5;
  color:white;
  font-weight:600;
  cursor:pointer;
}
